
/* ........................body style ................. */
body{
    width: 100%;
    background: rgb(173,190,244);
    background: linear-gradient(199deg,
    rgba(173,190,244,1) 0%,
    rgba(164,180,232,1) 80%,
    rgba(135,149,194,1) 100%);
}
/* .............................Nav style .............. */
div .btn{
    background-color: #9195ED;
    color: white;
    
 }
 /* ............................Connexion page style .... */
 .card_connexion{
    border-radius: 15px
 }
  /* ............................user page style .... */
  .container-nav-2{
    background-color: #7287DB;

}
  .post-it-pearple{
    background-color: #9195ED;
}
.post-it-green{
    background-color: #E3977A;
}.post-it-orange{
    background-color: #1B91AC;
}
.post-it-blue{
    background-color: #4E53C4;
}
.post-it-yellow{
    background-color: #D4E217;
}
.icone{
    width: 30px;
}
.card-aside{
    width: 2rem; 
    height: 30rem ; 
    background-color:#7C85A8 
}
.card-table{
    width: 16rem;
    height: 35rem
}
.card-title{
    margin-bottom:3px; 
    margin-top:3px
}
.horizontal-scroll > .card{
    overflow-x: auto;
    white-space: nowrap;
    background-color: black;
}
/* .............................Footer.................. */
footer{
    background-color: #7C85A8;
}
